<div class="row publishers-filter">
  <div class="span12">
    <div class="subnav" id="current-publisher-filter">
      <%= render "filter" %>
    </div>
  </div>
</div>

<div class="row publishers">
  <div class="span12" id="current-publisher">
    <%= render "publisher" %>
  </div>
</div>