<%= javascript_tag do %>
  // FusionCharts.setCurrentRenderer('JavaScript');

  $("#charts").html("");
  
  <% @filter.split_into_charts.each.with_index do |f, index| %>
      var chartDiv = $("<div></div>");
      chartDiv.attr("id", "chart-" + <%= index %>);
      $("#charts").append(chartDiv);
    
      var chart = new FusionCharts( "Charts/InverseMSLine.swf", "TopChart", "950", "400", "0", "1" );
      chart.setXMLUrl(<%= raw chart_home_path(:format => :xml, :filter_settings => f.attributes).inspect %>);
      chart.render(chartDiv.attr("id"));
  <% end %>
  
<% end %>