<div class="span8 offset2 home-teaser">
  <h1>Welcome to App Store Crawler!</h1>
  
  <%= image_tag(asset_path("app-store-icon.gif")) %>
  
  <p>Inspect current applications' rankings, look at historical chanages, compare publishers and more!</p>
</div>