<div id="ranking-table" class="span12 tab-pane">
  <%= render "table" %>
</div>

<div id="app-store-view" class="span12 tab-pane">
  <%= render "app_store_view", :meta_data => @games.first.meta_data %>
</div>