<div id="fusion-chart" class="span12">
  <div id="chart-placeholder"><span>No data to display</span></div>
</div>

<%= javascript_tag do %>
  $(function() {
    var chart = new FusionCharts( "Charts/InverseMSLine.swf", "Top Chart", "1028", "400", "0", "1" );
    chart.setXMLUrl(<%= ranking_historicals_path(:game_id => @meta.itunes_id, 
                                                :kind => @charts.map(&:kind).uniq.join(","), 
                                                :country => @charts.map(&:country).uniq.join(","), 
                                                :genre => @charts.map(&:genre).uniq.join(","), 
                                                :date_since => @timespan.first.to_date,
                                                :date_till => @timespan.last.to_date,
                                              
                                                :format => "xml").inspect.html_safe %>);
    chart.render("chart-placeholder");
  })
<% end %>
