<ul class="nav nav-pills featurings-filter">
  <%= bootstrap_dropdown :genre,   filter_categories,    :multiple => true,   :value => @charts.map(&:genre).map { |v| v || "all" }.uniq %>

  <%= bootstrap_dropdown :country, filter_countries,     :multiple => true,   :value => @charts.map(&:country).uniq, :display_value => @charts.map(&:country).uniq.map { |c| country_shortcuts[c] }.join(", ") %>
  
  <li class="date-select rightmost" data-name="date" data-value="<%= params[:date].to_date %>">
    <%= text_field_tag :date, params[:date].to_date %>
  </li>
</ul>