// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    .subnav {
      height: 36px;
      padding-left: 3px;
      background-color: #eeeeee; /* Old browsers */
      background-repeat: repeat-x; /* Repeat the gradient */
      background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
      background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
      background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
      background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
      background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
              
              
      .loading-stub {
        text-align: center;
        padding: 10px;
        display: block;
      }
    }
    
    .meta {
        .row {
            margin-bottom: 20px;
        }
    }
    
    .nav {
        .date-select {
            input {
                width: 100px;
                margin: 4px;
            }
        }
        
        .rightmost {
            float: right;
        }
    }
    
    .ui-datepicker {
        padding: 3px 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        border-width: 1px;
        border-style: solid;
       
        background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(250,250,250) 93%);
        background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(250,250,250) 93%);
        background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(250,250,250) 93%);
        background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(250,250,250) 93%);
        background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(250,250,250) 93%);

        background-image: -webkit-gradient(
        	linear,
        	left bottom,
        	left top,
        	color-stop(0,    rgb(255,255,255)),
        	color-stop(0.53, rgb(250,250,250))
        );
        
        border-color: rgba(82, 168, 236, 0.8);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        
        margin-top: 3px;
        
        .ui-datepicker-calendar {
            tbody {
                tr {
                    td {
                        padding: 2px 5px;
                        text-align: center;
                    }
                    
                    td:hover {
                        background: rgba(82, 168, 236, 0.3);
                    }
                    
                    td.ui-datepicker-current-day {
                        a {
                            text-decoration: none !important;
                            color: white !important;
                        }
                        background: rgba(82, 168, 236, 0.8);
                    }
                }
            }
        }
        
        a, td {
            cursor: pointer;
        }
        
        .ui-datepicker-prev {
            position: absolute;
            left: 13px;
            top: 7px;
        }
        
        .ui-datepicker-next {
            position: absolute;
            right: 13px;
            top: 7px;
        }
        
        .ui-datepicker-title {
            text-align: center;
            padding: 4px 0px 4px;
            margin-bottom: 4px;
            border-bottom: 1px solid #ccc;
        }
    }
    
    #ui-datepicker-div {
        display: none;
    }
    
    .ui-autocomplete {
        z-index: 100000 !important;
    }
    
    .home-teaser {
        text-align: center;
    }
    
    .content-container {
        margin-top: 58px;
    }
    
    .current-charts .subnav .chart-config .dropdown > a {
        overflow: ellipse;
        max-width: 100px;
    }
    
    .app-chart { 
        .app-icon {
            width: 24px;
        }
    }
    
    .historical-graph-filter {
        .search-query {
            float: left;
            margin: 4px;
        }
    }
    
    .historical-graph-chart {
        #chart-placeholder {
            margin-left: -74px;
            margin-top: 10px;
        }
        
        #chart-placeholder:before {
            content: " ";
            position: absolute;
            display: block;
            width: 300px;
            height: 30px;
            background: white;
            z-index: 10000;
        }
        
        .no-data-stub {
            text-align: center;
            display: block;
            padding: 200px 0px;
        }
    }
    
    .versions-dropdown {
        .dropdown-menu {
            width: 350px !important;
            li {
                width: 350px !important;
            }
        }
    }
    
    ul.ui-autocomplete {
        list-style: none;
        margin-top: 20px;
        width: 300px;
        
        background: white;
          border: 1px solid #e5e5e5;
          -webkit-border-radius: 4px;
             -moz-border-radius: 4px;
                  border-radius: 4px;
                  
        li {
            padding: 3px 5px;
            cursor: pointer !important;
            border-bottom: 1px solid #eee;
            
            a, a:hover {
                text-decoration: none;
            }
        }
        
        li:last-child {
            border: none;
        }
    }
}

