// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    padding: 0;
    margin: 0;

    #charts {
        width: 950px;
        overflow: auto;
        
        div embed, div object {
            margin: 0;
        }
        
        float: left;
    }
    
    #controls {
        float: left;
        width: 250px;
        padding: 45px 0px 0px 40px;
        
        form div {
            margin-bottom: 10px;
            
            select {
                width: 150px;
            }
            
            p {
                margin: 2px 0px;
            }
        }
    }
}