<!DOCTYPE html>
<html>
<head>
  <title>Crawler</title>
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "FusionCharts", "FusionCharts.HC", "FusionCharts.HC.Charts" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
